<div class='row'>
  <div class='small-6 small-centered columns'>
    <%= image_tag('logo_large.png', class: 'small-6 columns') %>
  </div>
</div>

<div ng-controller='UrlCtrl'>
  <%= render 'form' %>
  <h3 id='link_header'>your links</h3>
  <div class='panel stats'>
    <div ng-repeat="url in urls" class='row'>
      <i class="icon-link" id='clipboard_link'></i>
      <div class='large-6 hide-for-small columns' id='original_url'>
        <h5 class='subheader'>{{ url.original_url }}</h5>
      </div>
      <div class='large-5 small-12 columns' id='short_url'>
        <a ng-href="/{{ url.short_url }}"/>
          <h5 class='subheader'>{{ url.short_url }}</h5>
        </a>
      </div>
      <div class='large-1 hide-for-small columns' id='page_views'>
        <h5 class='subheader'>{{ url.page_views }}</h5>
      </div>
    </div>
  </div>
</div>
