<div id='sightglass'>
  <div class='row' id='logo'>
    <div class='large-8 medium-5 small-8 small-centered columns'>
      <%= image_tag('logo_large.png', class: 'large-6 columns') %>
      <h2 id='blinky' class='hide-for-small'>/
          <span class="pbr"> helvetica_leggings_PBR    </span>
          <span class="pbr"> ironic_vintage_cardigan   </span>
          <span class="pbr"> bespoke_fixie_steinbeck     </span>
          <span class="pbr"> selvage_tofu_mustache     </span>
          <span class="pbr"> diy_biodiesel_gastropub </span>
      </h2>
    </div>
  </div>
  <div class='row' id='sriracha'>
    <div class='small-7 small-centered columns'>
      <h3 class='subheader'>an artisan url shortener</h3>
    </div>
  </div>
</div>

<div ng-controller='UrlCtrl'>
  <div id='fourbarrel'>
    <%= render 'form' %>
  </div>
  <div id='dolo'>
    <hr>
    <h3 id='link_header' class='subheader'>your links</h3>
    <div class='panel stats'>
      <div class='row empty' ng-show="!urls.length">
        <div class='large-12 small-12 columns'>
          <h5 class='subheader'>you're not from around here, are you? you have no shortened urls.</h5>
        </div>
      </div>
      <div ng-repeat="url in urls" class='row'>
        <!-- <li ng-show="!events.length">No events</li> -->
        <i class='icon-link' id='clipboard_link' data-tooltip class="has-tip tip-left" title="click to copy to clipboard"></i>
        <div class='large-6 hide-for-small columns' id='original_url'>
          <h5 class='subheader'>{{ url.original_url }}</h5>
        </div>
        <div class='large-5 small-10 columns' id='short_url'>
          <a ng-href="/{{ url.short_url }}"/>
            <h5 class='subheader'>{{ url.short_url }}</h5>
          </a>
        </div>
        <div class='large-1 small-2 columns' id='page_views'>
          <h5 class='subheader'>{{ url.page_views }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
