<div ng-controller='UrlCtrl'>
  <%= render 'form' %>
  <h2>Your links</h2>
  <table>
    <thead>
      <tr>
        <th width="200">URL</th>
        <th width="150">Short URL</th>
        <th width="150">Page Views</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="url in urls">
        <td>
          {{ url.original_url }}
        </td>
        <td>
          {{ url.short_url }}
        </td>
        <td>
          {{ url.page_views }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
