@import 'foundation_and_overrides';

// CSS3 animations

@keyframes fadein {
  from { opacity: 0; } to { opacity:1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; } to { opacity:1; }
}

@-webkit-keyframes fadein {
  from { opacity: 0; } to { opacity:1; }
}

@-o-keyframes fadein {
  from { opacity: 0; } to { opacity: 1; }
}

@mixin delayIn($delay) {
  opacity:0;

  animation: fadein 1s;
  -moz-animation: fadein 1s;
  -webkit-animation: fadein 1s;
  -o-animation: fadein 1s;

  // Ensures animation remains at final keyframe value (opacity: 1)
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;

  -webkit-animation-delay: $delay;
  -moz-animation-delay: $delay;
  animation-delay: $delay;
}


// Meat and potatoes

#link_header {
  text-align: center;
}

#sightglass {
  @include delayIn(.5s);
  #blinky {
    margin-bottom: 0;
    position: absolute;
    left: 6.5em;
    width: 13em;
  }
  #logo {
    @media (min-width: 768px) {
      margin: 3em 0 1.5em;
    }
    img {
      width: 14em;
      @media (max-width: 768px) {
        width: 100%;
      }
    }
  }
}

.pbr {
  display: none;
}

#fourbarrel {
  @include delayIn(1.5s);
}

#dolo {
  @include delayIn(2.5s);
  .subheader {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden
  }
}

#sriracha {
  text-align: center;
  @media (max-width: 768px) {
    margin-bottom: 2em;
  }
  .subheader {
    margin-top: -.25em;
  }
}

#fixie {
  @include delayIn(.2s);
  margin-top: .5em;
  font-size: 1.15em;


  @media (max-width: 768px) {
    font-size: 1em;
  }

  a.logo img {
    width: 6em;
  }

  .pull-left {
    float: left;
  }

  .pull-right {
    float: right;
  }
}

.stats {
  padding: .4em 1.25em;
  h5 {
    margin-bottom: 0.325em;
    margin-top: 0.4em;
  }
  #clipboard_link {
    display: none;
    cursor: pointer;
    position: absolute;
    width: 2em;
    height: 2em;
    padding-top: 0.5em;
    right: -1em;
  }
  .row:hover {
    background-color: darken($panel-bg, 4%);
    @media #{$small} {
      #clipboard_link {
        display: block;
        left: -.5em;
      }
    }
  }
  #page_views {
    text-align: right;
  }
  #short_url h5 {
    color: $anchor-font-color;
    &:hover {
      color: $anchor-font-color-hover;
    }
  }
}
