.row#fixed_gear
  .large-12.columns
    %div#bespoke
      made by
      %a{ href: 'http://jeffmatthewsmith.com', target: '_blank'}
        @jeffpersonified
    %div#organic
      find me on
      %a{ href: 'https://github.com/jeffpersonified/hpstrly2', target: '_blank'}
        github